/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

body {
    font-size: 14px;
}

use {
    width: 100%;
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

/*------------------ПОДКЛЮЧЕНИЕ ШРИФТОВ---------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Open+Sans&display=swap");

/*------------------ТЕХНИЧЕСКИЕ КЛАССЫ----------------------------------------------*/
._container {
    position: relative;
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    padding: 0 20px;
}

._ibg {
    position: relative;
}

._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
}

/*---------------------------ГЛАВНЫЕ КЛАССЫ-----------------------------------------*/
body {
    font-family: 'Arial';
    color: #666666;
    font-size: 18px;
    line-height: 20px;
    background: #272727;
}

body.lock {
    overflow: hidden;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
    width: 100%;
    overflow: hidden;
    z-index: 1;
}

.main {
    flex: 1 0 auto;
    width: 100%;
}

@media (max-width: 1760px) {}

@media (max-width: 1500px) {}

@media (max-width: 400px) {}

/*---------------------------ОСТАЛЬНЫЕ КЛАССЫ---------------------------------------*/
/*---------------------------HEADER-------------------------------------------------*/
.header__burger {
    position: relative;
    width: 18px;
    height: 15px;
    cursor: pointer;
    z-index: 99;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.header__burger::before {
    content: "";
    background-color: #fff;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.header__burger::after {
    content: "";
    background-color: #fff;
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 2px;
    right: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.header__burger span {
    background-color: #fff;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.header__burger.active span {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.header__burger.active::after {
    width: 100%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    bottom: 7px;
}

.header__burger.active::before {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 7px;
}

.header {
    padding: 45px 0;
    max-width: 100vw;
}

.header__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 45px;
}

.header__burger-block {}

.header__burger {}

.header__logo {}

.header__search {
    position: relative;
}

.header__search input {
    height: 40px;
    font-size: 22px;
    background-color: #00000000;
    border-bottom: 1px solid #fff;
    width: 45vw;
    color: #fff;
}

.header__search input::placeholder {
    color: #fff;
}

.header__search-button {
    position: absolute;
    right: 0;
    background-color: #00000000;
}

.header__img {}

.header__body {
    display: flex;
    align-items: center;
    gap: 45px;
}

.header__tools {
    display: flex;
    align-items: flex-end;
    gap: 25px;
}
.header__tools div{
    cursor: pointer;
}

.header__avatar img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.header__open-m-search {
    display: none;
}
@media (max-width: 1200px) {
    .header__search input {
        height: 30px;
        font-size: 16px;
        line-height: 18px;
    }

    .header__img {
        width: 20px;
        height: 20px;

    }

    .header__logo {
        max-width: 140px;
    }

    .header__body {
        gap: 25px;
    }

    .header__dowload svg {
        max-height: 23px;
    }

    .header__notificatiom img {
        max-height: 30px;
    }

    .header__block {
        gap: 25px;
    }

    .header__avatar img {
        width: 30px;
        height: 30px;
    }

    .header__tools {
        gap: 15px;
    }
}

@media (max-width: 767px) {
    .header__dowload {
        display: none;
    }

    .header__notificatiom {
        display: none;
    }

    .header__burger-block {
        display: none;
    }

    .header {
        padding: 15px 0px;
    }

    .header__block {
        gap: 10px;
    }

    .header__logo {
        max-width: 100px;
    }

    .header__open-m-search {
        display: block;
    }

    .header__search {
        position: absolute;
        background: #272727;
        z-index: 5;
        left: 0;
        top: 0;
        width: 100%;
        height: 60px;
        padding: 0 20px;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s;
    }

    .header__search.active {
        opacity: 1;
        visibility: visible;
    }

    .header__search input {
        width: 100%;
    }

    .header__search button {
        right: 20px;
    }

    .header__tools {
        align-items: center;
    }

    .header__open-m-search img {
        width: 20px;
        height: 20px;
    }
}
/*---------------------------MAIN-----------------------------------------*/
.main {
}
.main-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 100px;
}
.left-navbar {
    flex: 0 1 215px;
    min-width: 215px;
}
.category-leftbar {
    display: flex;
    flex-direction: column;
}
.category-item {
    padding-left: 15px;
    display: flex;
    align-items: center;
    background-color: #00000000;
    color: #FFFFFF;
    font-size: 16px;
    transition: 0.3s;
    line-height: 18px;
    gap: 12px;
}
.category-item:not(:last-child){
    margin-bottom: 20px;
}
.category-item:hover .category-item__text{
    color: #B570EB;
}
.category-item__borger{
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #686161;
}
.category-item__img-block {
    width: 25px;
}
.category-item__text {
    transition: 0.3s;
}
.category-item__text.active {
    color: #B570EB;
}
.category-item__img-follow img {
    width: 26px;
    height: 26px;
    border-radius: 50%;
}

.category__follow-item {
    font-size: 16px;
    padding-left: 15px;
    align-items: center;
    display: flex;
    background: none;
    gap: 10px;
    color: white;
}

.category__follow-item.active {
    color: #B570EB;
}

.FollowLeftBar {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.category__follow-item:hover .category-follow__text {
    transition: 0.3s;
    color: #B570EB;
}

.follow__title {
    color: white;
    padding-left: 15px;
}
.background-liveimg{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: -1;
}
.background-liveimg video{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.background-liveimg::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 8%;
    z-index: 1;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(28,27,33,1) 76%);
}
.main-content {
    flex: 0 1 100%;
}
.main-banner-Video {
    cursor: pointer;
    width: 100%;
    height: 500px;
    position: relative;
    transition: 0.3s;
}
.main-banner-Video:hover{
/*     height: calc(100vh - 155px); */
}
.main-banner-Video video{
/*     border: 2px solid #B570EB; */
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.MainItemsVideos {
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
    margin-top: 70px;
}
.main-item-video {
}
.main-item-video__block {
    cursor: pointer;
    height: 165px;
    position: relative;
}
.main-item-video__block video{
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main-item-video__content {
    margin-top: 10px;
    display: flex;
    gap: 20px;
}
.main-item-video__img {
}
.main-item-video__img img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.main-item-video__body {
}
.main-item-video__title {
    color: #fff;
    font-size: 16px;
line-height: 18px;
}
.main-item-video__name {
    font-size: 14px;
line-height: 16px;
color: #686161;
margin-bottom: 4px;
}
.main-item-video__views {
    font-size: 14px;
    line-height: 16px;
    color: #686161;
}